@use "sass:map";
@use './abstracts/index' as ui;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    min-height: 100vh;
    @media (min-width: ui.$viewport-lg) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }
}

.panel {
  
   width: 29.5%;
    &__description {
         width: auto;
        // @include respond(md, lg, xl) {
        //     width: 85%;
        // } 
        margin: 3rem 0;
    }
   
}

.projects {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 2rem;
  @media (min-width: ui.$viewport-md) {
    grid-template-columns: 1fr 2fr;
    gap: 0;
  }
  @media (min-width: ui.$viewport-md) {
    flex-direction: row;
    & > * {
      flex: 1 1 42%;
    }
  }
    &-list {
   display: flex; 
   flex-direction: column; 
      // li next to each other
 
  gap: 1rem;
&__list {
  display: flex;
  flex-wrap: wrap;
    gap: 1rem;
    @media (min-width: ui.$viewport-md) {
      display: inline;
    
  }
  &__item {
       display: flex;
        text-align: left;
  }
}
      
      & > * {
        text-align: start;
      }
      &__item {
        display: flex;
        text-align: left;
        
        &:first-of-type {
          @media (min-width: ui.$viewport-md) {
    margin-top: 15px;
    
  }
          
        }
      }
    }
    &-carousel {
      background-color: ui.$white;
      border-radius: 10px;
      color: ui.$heading;
      &__item {
        display: flex;
        flex-direction: column;
        display: grid;
            grid-template-columns: 1fr 3fr;
        @media (min-width: ui.$viewport-md) {
          flex-direction: row;
        }
       
          }
          
    
    
        }
  
  }


.carousel {
   &__content {
    display: flex;
    flex: 1 1 50%;
    padding: map.get(ui.$padding, medium);
   }
    
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.dots-paginator {
  display: flex;
  gap: 6px;
  margin: 0 12px;

  .dot {
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid ui.$white;

    &--turcoise {
      border-color: ui.$color-action-turcoise;

      &.dot--active {
        background-color: ui.$color-action-turcoise;
      }
    }

    &--navy {
      border-color: ui.$color-action-navy;

      &.dot--active {
        background-color: ui.$color-action-navy;
      }
    }

    &--coral {
      border-color: ui.$color-action-coral;

      &.dot--active {
        background-color: ui.$color-action-coral;
      }
    }

    
  }
}


$dot-sizes: (
  sm: 6px,
  md: 10px,
  lg: 14px
);

@each $size, $value in $dot-sizes {
  .dot--#{$size} {
    width: $value;
    height: $value;
  }
}








