@use './abstracts/index' as *;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    @include respond(lg, xl) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.panel {
  
   width: 29.5%;
    &__description {
         width: auto;
        // @include respond(md, lg, xl) {
        //     width: 85%;
        // } 
        margin: 3rem 0;
    }
   
}

.projects {
   
    &__item {
        opacity: 70%;
        text-align: left;
       margin-top:13px; ;
    }

    &-carousel {
        width: 40,71%;
        height: 262px;
    }
   
}

.carousel {
    &__content {
        width: 100%;
        height: 100%;
    }
    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}